@model TheBeeGame.Models.BeeGame

<div class="jumbotron">
    <h1>@Model.GetTitle()</h1>

</div>
<div class="row">
    <div class="row form-group form-inline">
        <div class="col-md-3">
            <label class="control-label">Bees:</label>
        </div>
        <div class="col-md-3">
            <label class="control-label">  </label>
        </div>
    </div>
    <div class="row form-group form-inline">
        <div class="col-md-3">
            <label class="control-label">Queen Bee lifespan:</label>
        </div>
        <div class="col-md-3">
            <label class="control-label">@Model.QueensLifeSpan</label>
        </div>
    </div>
    <div class="row form-group form-inline">
        <div class="col-md-3">
            <label class="control-label">Worker Bee lifespan:</label>
        </div>
        <div class="col-md-3">
            <label class="control-label">@Model.WorkersLifeSpan</label>
        </div>
    </div>
    <div class="row form-group form-inline">
        <div class="col-md-3">
            <label class="control-label">Drone Bee lifespan:</label>
        </div>
        <div class="col-md-3">
            <label class="control-label">@Model.DronesLifeSpan</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="form-group row col-md-2">
            @if (@Model.IsPlaying)
            {
                @Html.ActionLink("Nuke za beez...", "HitBee", "Controller", new { @class = "form-control btn btn-danger", @id = "Hit" })
            }
            else
            {
                @Html.ActionLink("Nuke za beez...", "HitBee", "Controller", new { @class = "form-control btn btn-danger disabled", @id = "Hit" })
            }
        </div>
        <div class="form-group row col-md-2">
            @if (@Model.IsPlaying)
            {
                @Html.ActionLink("Start Game", "StartGame", "Controller", new { @class = "form-control btn btn-success disabled", @id = "Start" })
            }
            else
            {
                @Html.ActionLink("Start Game", "StartGame", "Controller", new { @class = "form-control btn btn-success", @id = "Start" })
            }

        </div>
    </div>
</div>
